.hide{
    display:none;
}

.font24{
    margin:10px;
    font-weight:bold;
    font-size: 1 rem;
    line-height: 1.5;
    color:#767676;

}

.arrow{
    height:12px;
    width:12px;
    margin:15px;
}

.line{
    background: #333333 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    width: 24px;
    height: 3px;
    margin: 6px;
}

.dash{
    float: right;
  }

  button{
    height: 2.75rem;
    width: 8rem;
    background: none;
    border-radius: 0.625rem;
    font-weight: bold;
    margin:10px;
}

.outline{
    border: 3px solid #4643ee;
    color: #4643ee;
}

.backgroundBtn{
    border: 3px solid #4643ee;
    background:#4643ee ;
    color: white;
}

